*~
*.swp
*.swo
*.swn
*.mem
*.zip
data/
fig/
.ipynb_checkpoints/
*.mem
blender/four_split.blend1
blender/template.blend1
blender/template.blend1
blender/template.blend1
*.blend1
*.blend1
experiments/four_split/blender_output
experiments/split_and_join/assignment/renders
experiments/split_and_join/blender_output
experiments/split_and_join/formation/renders
experiments/split_and_join/greedy/renders
experiments/spreadout_group/assignment/renders
experiments/spreadout_group/blender_output
experiments/spreadout_group/formation/renders
experiments/spreadout_group/greedy/renders
experiments/track_runners/assignment/renders
experiments/track_runners/blender_output
experiments/track_runners/formation/renders
experiments/track_runners/greedy/renders
.ropeproject
src/mdma_greedy/notes.md
src/mdma_greedy/todo.org
experiments/cluster/assignment/renders
experiments/cluster/formation/renders
experiments/cluster/greedy/renders
experiments/cross_mix/assignment/renders
experiments/cross_mix/formation/renders
experiments/cross_mix/greedy/renders
experiments/four_split/assignment/renders
experiments/four_split/formation/renders
experiments/four_split/greedy/renders
experiments/priority_runners/assignment/renders
experiments/priority_runners/formation/renders
experiments/priority_runners/greedy/renders
experiments/priority_speaker/assignment/renders
experiments/priority_speaker/formation/renders
experiments/priority_speaker/greedy/renders
experiments/cluster/blender_output
experiments/cluster/formation
experiments/cluster/formation
experiments/cluster/greedy
experiments/cluster/multipleroundsgreedy
experiments/cluster/myopic
experiments/cluster/ppa_evaluation.tex
experiments/cluster/ppa_evaluation.tikz
experiments/cross_mix/blender_output
experiments/cross_mix/multipleroundsgreedy
experiments/cross_mix/myopic
experiments/cross_mix/ppa_evaluation.csv
experiments/cross_mix/ppa_evaluation.png
experiments/cross_mix/ppa_evaluation.tikz
experiments/data_summary.csv
experiments/export_for_drive
experiments/four_split/multipleroundsgreedy
experiments/four_split/myopic
experiments/four_split/ppa_evaluation.csv
experiments/four_split/ppa_evaluation.png
experiments/four_split/ppa_evaluation.tikz
experiments/four_split/image_evaluation.tikz
experiments/heavy_mixing/assignment
experiments/heavy_mixing/blender_output
experiments/heavy_mixing/formation
experiments/heavy_mixing/greedy
experiments/heavy_mixing/multipleroundsgreedy
experiments/heavy_mixing/image_evaluation.tikz
experiments/heavy_mixing/myopic
experiments/heavy_mixing/ppa_evaluation.tikz
experiments/merge_images.py
experiments/old_data_summary.csv
experiments/older_data_summary.csv
experiments/priority_runners/blender_output/assignment/uav1
experiments/priority_runners/blender_output/assignment/uav2
experiments/priority_runners/blender_output/assignment/uav3
experiments/priority_runners/blender_output/assignment/uav4
experiments/priority_runners/blender_output/assignment/uav5
experiments/priority_runners/blender_output/formation/uav1
experiments/priority_runners/blender_output/formation/uav2
experiments/priority_runners/blender_output/formation/uav3
experiments/priority_runners/blender_output/formation/uav4
experiments/priority_runners/blender_output/formation/uav5
experiments/priority_runners/blender_output
experiments/priority_runners/multipleroundsgreedy
experiments/priority_runners/myopic
experiments/image_eval.png
experiments/priority_speaker/blender_output
experiments/priority_speaker/multipleroundsgreedy
experiments/priority_speaker/myopic
experiments/split_and_join/multipleroundsgreedy
experiments/split_and_join/myopic
experiments/spreadout_group/multipleroundsgreedy
experiments/spreadout_group/myopic
experiments/total_summary.csv
experiments/track_runners/multipleroundsgreedy
experiments/track_runners/myopic
experiments/split_and_join/image_evaluation.tikz
experiments/split_and_join/ppa_evaluation.tikz
experiments/spreadout_group/ppa_evaluation.tikz
