*~
*.swp
*.swo
*.swn
*.mem
*.zip
data/
fig/
.ipynb_checkpoints/
*.mem
blender/four_split.blend1
blender/template.blend1
blender/template.blend1
blender/template.blend1
*.blend1
*.blend1
experiments/four_split/blender_output
experiments/split_and_join/assignment/renders
experiments/split_and_join/blender_output
experiments/split_and_join/formation/renders
experiments/split_and_join/greedy/renders
experiments/spreadout_group/assignment/renders
experiments/spreadout_group/blender_output
experiments/spreadout_group/formation/renders
experiments/spreadout_group/greedy/renders
experiments/track_runners/assignment/renders
experiments/track_runners/blender_output
experiments/track_runners/formation/renders
experiments/track_runners/greedy/renders
.ropeproject
src/mdma_greedy/notes.md
src/mdma_greedy/todo.org
experiments/cluster/assignment/renders
experiments/cluster/formation/renders
experiments/cluster/greedy/renders
experiments/cross_mix/assignment/renders
experiments/cross_mix/formation/renders
experiments/cross_mix/greedy/renders
experiments/four_split/assignment/renders
experiments/four_split/formation/renders
experiments/four_split/greedy/renders
experiments/priority_runners/assignment/renders
experiments/priority_runners/formation/renders
experiments/priority_runners/greedy/renders
experiments/priority_speaker/assignment/renders
experiments/priority_speaker/formation/renders
experiments/priority_speaker/greedy/renders
